---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - resources/certificate.yaml
  - resources/cronjob.yaml
  - resources/deployment.yaml
  - resources/ingressroute.yaml
  - resources/middleware.yaml
  - resources/namespace.yaml
  - resources/networkpolicy.yaml
  - resources/persistentvolume.yaml
  - resources/persistentvolumeclaim.yaml
  - resources/role.yaml
  - resources/rolebinding.yaml
  - resources/service.yaml
  - resources/serviceaccount.yaml
  - resources/sopssecret.yaml

configMapGenerator:
  - envs:
      - configs/vaultwarden.env
    name: vaultwarden
    namespace: vaultwarden
    options:
      labels:
        app.kubernetes.io/component: vaultwarden
        app.kubernetes.io/instance: vaultwarden
        app.kubernetes.io/name: vaultwarden
