---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: nextcloud

resources:
  - resources/cronjob.yaml
  - resources/deployment.yaml
  - resources/httproute.yaml
  - resources/service.yaml
  - resources/valkey.yaml
