---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - resources/sopssecret.yaml

patches:
  - patch: |-
      - op: replace
        path: /spec/dnsNames
        value:
          - immich.home.arpa
    target:
      kind: Certificate
  - patch: |-
      - op: replace
        path: /spec/routes/0/match
        value: "Host(`immich.home.arpa`)"
    target:
      kind: IngressRoute
      name: immich
