---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - resources/sopssecret.yaml

patches:
  - patch: |-
      - op: add
        path: /metadata/annotations/traefik.ingress.kubernetes.io~1router.middlewares
        value: traefik-ip-allowlist-internal@kubernetescrd
      - op: add
        path: /spec/hostnames
        value:
          - immich.home.arpa
    target:
      kind: HTTPRoute
