# yamllint disable rule:line-length
---
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    reloader.stakater.com/auto: !!str true
  name: redirector
  namespace: redirector
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: redirector
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: nginx
      labels:
        app: redirector
    spec:
      containers:
        - image: docker.io/nginxinc/nginx-unprivileged:1.29.5-alpine
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /healthz
              port: http
              scheme: HTTP
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          name: nginx
          ports:
            - containerPort: 8080
              name: http
              protocol: TCP
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /healthz
              port: http
              scheme: HTTP
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          resources: {}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
            runAsNonRoot: true
          volumeMounts:
            - mountPath: /etc/nginx/nginx.conf
              name: config
              subPath: nginx.conf
            - mountPath: /etc/nginx/redirect.js
              name: config
              subPath: redirect.js
            - mountPath: /tmp
              name: tmp
      imagePullSecrets:
        - name: docker-hub
      securityContext:
        seccompProfile:
          type: RuntimeDefault
      volumes:
        - emptyDir: {}
          name: cache
        - configMap:
            name: redirector-nginx
          name: config
        - emptyDir:
            medium: Memory
            sizeLimit: 1Mi
          name: tmp
