---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - cnpg.yaml
  - linkerd.yaml
  - metallb.yaml
  - reloader.yaml
  - sops-secrets-operator.yaml
  - traefik.yaml
  - valkey-operator.yaml
