---
apiVersion: security.istio.io/v1
kind: AuthorizationPolicy
metadata:
  name: allow-local
spec:
  action: ALLOW
  rules:
    - from:
        - source:
            ipBlocks:
              - 192.168.1.0/24
              - 192.168.4.0/24
              - 2a0b:9401:8b:1::/64
              - 2a0b:9401:8b:4::/64
            notIpBlocks:
              - 192.168.1.1/32
              - 2a0b:9401:8b:1::1/128
  targetRef:
    group: gateway.networking.k8s.io
    kind: Gateway
    name: ingress
