---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: istio-gateways

resources:
  - resources/deployment.yaml
  - resources/namespace.yaml
  - resources/role.yaml
  - resources/rolebinding.yaml
  - resources/service.yaml
  - resources/serviceaccount.yaml
