# yamllint disable rule:line-length
---
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    reloader.stakater.com/auto: !!str true
  name: redirector
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redirector
  template:
    metadata:
      labels:
        app: redirector
    spec:
      containers:
        - image: docker.io/library/nginx:1.29.4-alpine-slim
          name: nginx
          ports:
            - containerPort: 8080
              name: http
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /healthz
              port: http
            initialDelaySeconds: 5
            periodSeconds: 5
          resources:
            limits:
              memory: 64Mi
            requests:
              cpu: 10m
              memory: 32Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
            runAsGroup: 101
            runAsNonRoot: true
            runAsUser: 101
          volumeMounts:
            - mountPath: /etc/nginx/nginx.conf
              name: config
              subPath: nginx.conf
            - mountPath: /run
              name: run
            - mountPath: /var/cache/nginx
              name: cache
      securityContext:
        fsGroup: 101
        seccompProfile:
          type: RuntimeDefault
      volumes:
        - emptyDir: {}
          name: cache
        - configMap:
            name: redirector-nginx
          name: config
        - emptyDir:
            medium: Memory
            sizeLimit: 1Mi
          name: run
