---
apiVersion: v1
kind: Service
metadata:
  name: redirector
spec:
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: http
  selector:
    app: redirector
  type: ClusterIP
