---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - resources/certificate.yaml
  - resources/cronjob.yaml
  - resources/deployment.yaml
  - resources/ingressroute.yaml
  - resources/namespace.yaml
  - resources/networkpolicy.yaml
  - resources/persistentvolume.yaml
  - resources/persistentvolumeclaim.yaml
  - resources/service.yaml
  - resources/sopssecret.yaml

configMapGenerator:
  - envs:
      - configs/app-ini.env
    name: gitea-app-ini-env
    namespace: gitea
  - envs:
      - configs/config.env
    name: gitea-config-env
    namespace: gitea
  - files:
      - scripts/configure_gitea.sh
      - scripts/configure_gpg_environment.sh
      - scripts/init_directory_structure.sh
    name: gitea-init
    namespace: gitea
