---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 1h
  chart:
    spec:
      chart: traefik
      version: 39.0.0
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
  install:
    crds: Create
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
  values:
    additionalArguments:
      - --entrypoints.websecure.http.middlewares=traefik-security-headers@kubernetescrd
    deployment:
      replicas: 2
    global:
      checkNewVersion: false
      sendAnonymousUsage: false
    podDisruptionBudget:
      enabled: true
      maxUnavailable: 1
    providers:
      kubernetesGateway:
        enabled: true
    service:
      spec:
        externalTrafficPolicy: Local
