---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
spec:
  chart:
    spec:
      chart: traefik
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
      version: 39.0.1
  install:
    remediation:
      retries: 3
  interval: 1h
  values:
    global:
      checkNewVersion: false
      sendAnonymousUsage: false
    podSecurityContext:
      runAsNonRoot: true
      seccompProfile:
        type: RuntimeDefault
    ports:
      web:
        redirectTo:
          port: websecure
    providers:
      kubernetesCRD:
        allowCrossNamespace: true
      kubernetesIngress:
        enabled: false
    service:
      spec:
        externalTrafficPolicy: Local
        ipFamilyPolicy: RequireDualStack
