---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
spec:
  chart:
    spec:
      chart: traefik
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
      version: 39.0.1
  install:
    crds: Skip
    remediation:
      retries: 3
  interval: 1h
  upgrade:
    crds: Skip
  values:
    global:
      checkNewVersion: false
      sendAnonymousUsage: false
    podSecurityContext:
      runAsNonRoot: true
      seccompProfile:
        type: RuntimeDefault
    providers:
      kubernetesCRD:
        allowCrossNamespace: true
      kubernetesGateway:
        enabled: true
      kubernetesIngress:
        enabled: false
    service:
      spec:
        externalTrafficPolicy: Local
        ipFamilyPolicy: RequireDualStack
