---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - https://raw.githubusercontent.com/isindir/sops-secrets-operator/refs/tags/0.18.0/config/crd/bases/isindir.github.com_sopssecrets.yaml
