---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: vaultwarden

resources:
  - resources/certificate.yaml
  - resources/cronjob.yaml
  - resources/deployment.yaml
  - resources/httproute.yaml
  - resources/namespace.yaml
  - resources/networkpolicy.yaml
  - resources/peerauthentication.yaml
  - resources/persistentvolume.yaml
  - resources/persistentvolumeclaim.yaml
  - resources/referencegrant.yaml
  - resources/role.yaml
  - resources/rolebinding.yaml
  - resources/service.yaml
  - resources/serviceaccount.yaml
  - resources/sopssecret.yaml

configMapGenerator:
  - name: vaultwarden
    envs:
      - configs/vaultwarden.env
    options:
      labels:
        app.kubernetes.io/component: vaultwarden
        app.kubernetes.io/instance: vaultwarden
        app.kubernetes.io/name: vaultwarden
