---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - gotk-alert.yaml
  - gotk-components.yaml
  - gotk-provider.yaml
  - gotk-receiver.yaml
  - gotk-sync.yaml

patches:
  - patch: |
      - op: add
        path: /spec/revisionHistoryLimit
        value: 0
      - op: replace
        path: /spec/template/spec/containers/0/resources
        value: {}
    target:
      kind: Deployment
  - patch: |
      - op: replace
        path: /spec/template/spec/volumes/0
        value:
          name: temp
          emptyDir:
            medium: Memory
    target:
      kind: Deployment
      name: kustomize-controller
  - patch: |
      - op: add
        path: /metadata/annotations
        value:
          linkerd.io/inject: disabled
    target:
      kind: Namespace
