---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: &namespace gitea

helmCharts:
  - name: gitea
    repo: https://dl.gitea.com/charts/
    version: 12.5.0
    releaseName: gitea
    namespace: *namespace
    valuesFile: values.yaml

patches:
  - patch: |-
      - op: add
        path: /spec/template/spec/containers/0/securityContext/allowPrivilegeEscalation
        value: false
      - op: add
        path: /spec/template/spec/containers/0/securityContext/capabilities
        value:
          drop:
            - ALL
      - op: add
        path: /spec/template/spec/containers/0/securityContext/readOnlyFileSystem
        value: true
      - op: add
        path: /spec/template/spec/containers/0/securityContext/runAsNonRoot
        value: true
      - op: add
        path: /spec/template/spec/securityContext
        value:
          seccompProfile:
            type: RuntimeDefault
    target:
      kind: Deployment
      name: gitea
