---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - https://github.com/cert-manager/cert-manager/releases/download/v1.19.2/cert-manager.yaml
  - linkerd.yaml
  - metallb.yaml
  - reloader.yaml
  - sops-secrets-operator.yaml
  - traefik.yaml

patches:
  - patch: |
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: --enable-certificate-owner-ref=true
    target:
      kind: Deployment
      name: cert-manager
      namespace: cert-manager
