---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - https://github.com/cert-manager/cert-manager/releases/download/v1.19.2/cert-manager.yaml
  - https://github.com/kubernetes-sigs/gateway-api/releases/download/v1.4.1/experimental-install.yaml
  - istio-system.yaml
  - metallb-system.yaml
  - reloader.yaml
  - sops-secrets-operator.yaml
  - traefik.yaml
