---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: media

resources:
  - ../../base
  - resources/certificate.yaml
  - resources/ingressroute.yaml
  - resources/sopssecret.yaml

patches:
  - patch: |-
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: TZ
          value: Europe/London
      - op: add
        path: /spec/template/spec/securityContext/fsGroup
        value: 996
      - op: add
        path: /spec/template/spec/securityContext/runAsGroup
        value: 996
      - op: add
        path: /spec/template/spec/securityContext/runAsUser
        value: 999
    target:
      kind: Deployment
  - patch: |-
      - op: add
        path: /spec/template/spec/initContainers/0/env/-
        value:
          name: TZ
          value: Europe/London
    target:
      kind: Deployment
      name: ombi
