---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - patch: |-
      - op: replace
        path: /spec/addresses
        value:
          - 192.168.1.2/32
          - 2a0b:9401:8b:1:3e07:54ff:fe5c:dd07/128
    target:
      kind: IPAddressPool
