---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - patch: |-
      - op: replace
        path: /spec/addresses
        value:
          - 192.168.1.2/32
    target:
      kind: IPAddressPool
