---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 1h
  chart:
    spec:
      chart: traefik
      version: 39.0.0
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
  install:
    crds: Create
  upgrade:
    crds: CreateReplace
  values:
    deployment:
      replicas: 2
    global:
      checkNewVersion: false
      sendAnonymousUsage: false
    podDisruptionBudget:
      enabled: true
      maxUnavailable: 1
    ports:
      web:
        http:
          redirections:
            entryPoint:
              scheme: https
              to: websecure
    providers:
      kubernetesGateway:
        enabled: true
    additionalArguments:
      - --entrypoints.web.http.middlewares=traefik-security-headers@kubernetescrd
      - --entrypoints.websecure.http.middlewares=traefik-security-headers@kubernetescrd
