# yamllint disable rule:line-length
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: nextcloud

resources:
  - ../../base
  - resources/ingress.yaml
  - resources/sopssecret.yaml

patches:
  - patch: |-
      - op: add
        path: /spec/template/spec/securityContext/fsGroup
        value: 980
    target:
      kind: StatefulSet
      name: nextcloud
  - patch: |-
      - op: add
        path: /spec/template/spec/securityContext/fsGroup
        value: 980
      - op: add
        path: /spec/template/spec/securityContext/runAsGroup
        value: 980
      - op: add
        path: /spec/template/spec/securityContext/runAsUser
        value: 986
    target:
      kind: StatefulSet
      name: nextcloud-postgres

# patches:
#   # - patch: |-
#   #     - op: add
#   #       path: /spec/jobTemplate/spec/template/spec/containers/0/env/-
#   #       value:
#   #         name: NEXTCLOUD_TRUSTED_DOMAINS
#   #         value: nextcloud.home.arpa
#   #   target:
#   #     kind: CronJob
#   - patch: |-
#       - op: add
#         path: /spec/template/spec/containers/0/livenessProbe/httpGet/httpHeaders
#         value:
#           - name: Host
#             value: nextcloud.home.arpa
#     # - op: add
#     #   path: /spec/template/spec/containers/0/env/-
#     #   value:
#     #     name: NEXTCLOUD_TRUSTED_DOMAINS
#     #     value: nextcloud.home.arpa
#     target:
#       kind: StatefulSet
#   - patch: |-
#       - op: add
#         path: /metadata/annotations/traefik.ingress.kubernetes.io~1router.middlewares
#         value: traefik-ip-allowlist-internal@kubernetescrd
#       - op: add
#         path: /spec/hostnames
#         value:
#           - nextcloud.home.arpa
#     target:
#       kind: HTTPRoute
