---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: media

resources:
  - resources/deployment.yaml
  - resources/namespace.yaml
  # - resources/networkpolicy.yaml
  - resources/peerauthentication.yaml
  - resources/persistentvolume.yaml
  - resources/persistentvolumeclaim.yaml
  - resources/service.yaml
