---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: immich

resources:
  - resources/deployment.yaml
  - resources/httproute.yaml
  - resources/namespace.yaml
  - resources/peerauthentication.yaml
  - resources/persistentvolumeclaim.yaml
  - resources/service.yaml
  - resources/sopssecret.yaml
