---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: immich

resources:
  - resources/certificate.yaml
  - resources/deployment.yaml
  - resources/ingressroute.yaml
  - resources/namespace.yaml
  - resources/networkpolicy.yaml
  - resources/persistentvolume.yaml
  - resources/peerauthentication.yaml
  - resources/persistentvolumeclaim.yaml
  - resources/service.yaml
  - resources/sopssecret.yaml
