---
apiVersion: v1
kind: Service
metadata:
  annotations: {}
  labels:
    app: ingress
    app.kubernetes.io/instance: ingress
    app.kubernetes.io/name: ingress
    app.kubernetes.io/part-of: istio
    istio.io/dataplane-mode: none
    istio: ingress
  name: ingress
spec:
  externalTrafficPolicy: Local
  ipFamilyPolicy: RequireDualStack
  ipFamilies:
    - IPv4
    - IPv6
  ports:
    - name: http2
      port: 80
      protocol: TCP
      targetPort: 80
    - name: https
      port: 443
      protocol: TCP
      targetPort: 443
    - name: status-port
      port: 15021
      protocol: TCP
      targetPort: 15021
  selector:
    app: ingress
    istio: ingress
  type: LoadBalancer
