# yamllint disable rule:line-length
---
name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  kubeconform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Run kubeconform
        uses: docker://ghcr.io/yannh/kubeconform:v0.7.0
        with:
          args: >-
            -ignore-filename-pattern values.yaml
            -ignore-missing-schemas
            -output json
            -schema-location default
            -schema-location https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/{{.Group}}/{{.ResourceKind}}_{{.ResourceAPIVersion}}.json
            -strict
            apps/ clusters/ infrastructure/
          entrypoint: /kubeconform

  yamllint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Run yamllint
        run: |
          yamllint --config-file .yamllint --format github --strict .
